In [1]:
import pandas as pd
pd.set_option ("display.max_row",1000)
pd.set_option ("display.max_columns", 20)
pd.set_option ('precision',7)
pd.set_option ('large_repr','truncate')

In [2]:
import pandas as pd
data = pd.DataFrame({'group':['a','a','a','b','b','b','c','c','c'], 'ounces': [4,3,12,6,7.5,8,3,5,6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [3]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

  group  ounces
6     c     3.0
7     c     5.0
8     c     6.0
3     b     6.0
4     b     7.5
5     b     8.0
1     a     3.0
0     a     4.0
2     a    12.0

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'data1' : np.random.randn(5),
                 'data2' : np.random.randn(5)})
df.assign(ration = df['data1'] / df['data2'])

       data1      data2     ration
0  0.2959665  0.8916971  0.3319137
1 -1.3832643 -0.3894146  3.5521632
2  0.6624231  1.8990164  0.3488243
3  0.7598954 -0.2923146 -2.5995813
4 -0.0257909  2.1845641 -0.0118060

In [5]:
import pandas as pd
data = pd.Series ([1., -999.,2.,-999.,-1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [6]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [7]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, object): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
df = pd.read_csv()